@model CLassifiedsUIPortal.Models.OfferData

@{
    ViewData["Title"] = "Like";
}

<h1>Like</h1>

<div>
    <h4>OfferData</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OfferId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OfferId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Likes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Likes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Details)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Details)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OpenedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OpenedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EngagedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EngagedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClosedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClosedDate)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
